*{
    margin: 0%;
    padding: 0%;
    text-align: center;
} 


body {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding-top: 137px;
}

body::after{
    content: "";
    background: url(../imagenes/planetas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

h1{
    color: #f0f8ff;
    font-family: 'Handlee', cursive;
   padding: 4%;
}


.encabezado{
    position: fixed;
    text-align: center;
    padding: 0;
    top:0;
    left: 0;
    width: 100%;
    padding-top:15px ;
    background-image: linear-gradient(to bottom right, rgba(70, 6, 78,0.95)0%, rgba(11, 6, 78,0.95)25%,rgba(134, 25, 177,0.95)80%, rgba(207, 84, 245,0.95));
    
}

h2{
font-family: 'Bad Script', cursive;
color: #dabc16;
margin: 1%;

}

h3 {
  color: rgb(22, 228, 217); 
  font-family:'Satisfy', cursive;
  font-size: 25px;
  font-weight:200;
}

.titulo-mundosInternos{
    font-family: 'Handlee', cursive;
    font-size: 30px;
    color: #fdfffe;
}

p{
    font-size: 22px;
    font-family:'Bad Script', cursive;
    font-weight: 600;
    color: rgb(243, 243, 245);
  
}

iframe{
    margin-bottom: 5%;
}

.imagen-enlaces{
    width: 250px;
    height: 200px;
}


/* image overlay*/

figure{
    position: relative;
    width: 385px;
    height: 220px;
    overflow: hidden;
}

.imagen-enlaces{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

figcaption{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

figure:hover .imagen-enlaces{
    opacity: 0.3;
}

figure:hover figcaption{
    opacity: 1;
}

/*hasta aqui el codigo image de overlay*/


.titulo-enlaces{
    font-size: 22px;
}

.texto-enlaces{
    font-size: 18px;  
}

/* Decoracion del enlace para que aparezca un boton*/
.enlace{
    background-color:rgba(255, 7, 131, 0.747);
    padding: 1 em 1.5em;
    box-shadow: 0 6px 0 rgba(83, 4, 37, 0.747);
    color: #ffffff;
    position: relative;
    text-decoration: none;
    font-family: 'Handlee';
    text-transform: uppercase;
}

.enlace:hover {
    background-color: #f73af7;
    cursor: pointer;
}

.enlace:active {
    box-shadow: none;
    top: 5px;
}

/* Flexbox */
.container-images{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: 20px;

}

/*cuando la ventana se haga mas pequeña de 640 para abajo*/ 
@media screen and (max-width: 640px){
    iframe{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

    img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

    p{
        margin: 0 15px;
    }

    }
  

@media screen and (max-width: 850px){
    .container-images{
        flex-direction: column;
    }

    figure{
        margin: 10px auto;

    }

}
@media screen and (max-width: 500px){
figure{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    }

    figcaption{
        top: 33%;
        width: 90%;
    }
}
